@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f6fa;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: auto;
}

.content-container {
  padding: 1rem 0.5rem;
}

@import url(./header.scss);
