.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #c5c5c5;

  .logo svg {
    height: 60px;
    width: auto;
  }

  .main-nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      gap: 2rem;

      li {
        a {
          color: #007bff;
          font-weight: 500;
          text-decoration: none;

          &.active,
          &:hover {
            color: #0054ad;
            text-decoration: underline;
          }
        }

        &:last-child {
          border-left: 1px solid #c5c5c5;
          padding-left: 2rem;
        }
      }
    }
  }
}