.rocket-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .rocket-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;

    .rocket-image-container {
      width: 100%;

      .rocket-image {
        padding-bottom: 75%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .rocket-name {
      color: #111;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    .rocket-description {
      line-height: 1.25;
      margin-bottom: 1rem;
    }

    .reserved-badge {
      background-color: #18a2b8;
      color: #fff;
      padding: 0.125rem 0.25rem;
      border-radius: 0.125rem;
    }

    .button {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &.reserve-rocket {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;

        &:hover {
          color: #fff;
          background-color: #0b5ed7;
          border-color: #0a58ca;
        }
      }

      &.cancel-reservation {
        color: #6c757d;
        border-color: #6c757d;

        &:hover {
          color: #fff;
          background-color: #6c757d;
          border-color: #6c757d;
        }
      }
    }
  }
}
